<!doctype html>
<html>
  <head>
    <title>Ishland - Home</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="index">Home</a>
      <a href="news">News</a>
      <a href="contact">Contact</a>
      {% if login != True%}
        <a class="active" href="login">Log In</a>
      {% endif %}
      <a href="https://gl.me/u/xRDDc2kSl6Zd">Donate</a>
    </div> 

    {% if login == False %}
      <form action="{{ url_for('authenticate') }}" method="post">
        <label for="uname">ID:</label>
        <input type="text" id="usrname" name="uname" placeholder="ID">
        <label for="psswd">Password:</label>
        <input type="text" id="psswrd" name="psswd" placeholder="passwrd">
        <button type="submit">Login</button>
        
    {% elif login == "FAILED" %}
        <p>Failed</p>
        <br>
        <form action="{{ url_for('authenticate') }}" method="post">
          <label for="uname">ID:</label>
          <input type="text" id="usrname" name="uname" placeholder="ID">
          <br>
          <label for="psswd">Password:</label>
          <input type="text" id="psswrd" name="psswd" placeholder="passwrd">
          <button type="submit">Login</button>
    {% else %}
      <p>you are already logged in.</p>
    {% endif %}
  </body>